<div class="jumbotron-2" id="haut">
        <h2>I am a Full-Stack Developer based in Paris</h2>
        <a href="#about" class="slide-section" ><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
</div>
    <div class="supporting-4" id="about">
      <div class="container">
        <div class="row">
        <h3><strong>Language skills</strong></h3>
          <div class="col-md-4">
            <img class="img-responsive" src="http://i.imgur.com/BaeDrhB.png" width="100px" />
            <p>Well mastered</p>
          </div>
          <div class="col-md-4">
          <img class="img-responsive" src="http://i.imgur.com/u0ojlHc.png" width="70px"/>
            <p>Well mastered with SASS </p>
          </div>
          <div class="col-md-4">
            <img class="responsive" src="http://i.imgur.com/0I3FgA6.png" width="100px"/>
            <p>Know the basics and I working on few projects</p>
          </div>
        </div>
          <div class="row">
            <h3><strong>Web developer skills</strong></h3>
            <div class="col-md-4">
            <img src="http://i.imgur.com/9eB7Lse.png" alt="php" class="img-responsive" width="70px">
            <p>In training</p>
            </div>
            <div class="col-md-4" id="ruby">
            <img src="http://i.imgur.com/nB2q6gS.png" alt="ruby" class="img-responsive" width="80px">
            <p>In training</p>
            </div>
            <div class="col-md-4">
            <img src="http://i.imgur.com/abbRn6z.png" alt="python" class="img-responsive" width="150px">
            <p>In training</p>
            </div>
          </div>
          <a href="#haut" class="slide-section2"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      </div>
    </div>