<div class="jumbotron" id="haut">
      <div class="container">
        <h2>Hello I am Kara</h2>
        <p class="para">I like to Design & Code</p>
        <a href="#portfolio" class="slide-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div id="accordion">
            <h3>Technologies mastered</h3>
            <div>
              <p>HTML 5</p>
              <p>CSS3</p>
              <p>JS and Jquery</p>
            </div>
            <h3>News</h3>
            <div>
              <p>Working on few projects in Africa</p>
              <p>Kara-project is available</p>
            </div>
            <h3>Portfolio</h3>
            <div>
              <p>Photography coming soon</p>
              <p>Websites coming soon</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="supporting-1">
      <div class="container">
        <h3>Welcome to my website which presents you my Portfolio</h3>
        <p>Kara Diaby</p>
      </div>
    </div>
    <div class="supporting-3" id="portfolio">
      <div class="container">
        <div class="row">
        <h3>They inspire me every day</h3>
          <div class="col-md-4">
            <a href="https://en.wikipedia.org/wiki/Nelson_Mandela" target="_blank"><img src="http://i.imgur.com/evjRnT6.jpg" alt="Nelson Mandela" class="img-circle img-responsive" width="150px" id="mandela" title="Nelson Mandela" /></a>
            <h4><strong>Nelson Mandela</strong></h4>
            <p>Former South Africa President</p>
          </div>
          <div class="col-md-4">
            <a href="https://en.wikipedia.org/wiki/Aliko_Dangote" target="_blank"><img src="http://i.imgur.com/ihD2Xlt.jpg" alt="Aliko Dangote" class="img-circle" width="150px" id="dangote" title="Aliko Dangote" /></a>
            <h4><strong>Aliko Dangote</strong></h4>
            <p>Businessman and CEO of Dangote Group</p>
          </div>
          <div class="col-md-4">
            <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank"><img src="http://i.imgur.com/Ld9OmE5.jpg" alt="Steve Jobs" class="img-circle" width="150px" id="jobs" title="Steve Jobs" /></a>
            <h4><strong>Steve Jobs</strong></h4>
            <p>Founder and former CEO of Apple</p>
          </div>
        </div>
      </div>
    </div>
    <div class="supporting-2">
      <div class="container">
        <h3>"A dreamer is a winner who never gives up"</h3>
        <p>Nelson Mandela</p>
        <a href="#haut" class="slide-section2"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
      </div>
    </div>