<div class="jumbotron-3" id="haut">
      <h2>You can check my portfolio</h2>
      <a href="#coming" class="slide-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
</div>
  <div class="supporting-5" id="coming">
    <div class="container">
      <div class="row">
      <h3>Portfolio</h3>
        <div class="col-md-4">
          <a target="_blank" href="https://serene-atoll-58190.herokuapp.com/"><img src="http://i.imgur.com/AHH1rco.png" alt="" title="Stories App" class="img-responsive thumbnail"></a>
        </div>
        <div class="col-md-4">
          <img src="http://i.imgur.com/QrGMsYN.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="http://i.imgur.com/QrGMsYN.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="http://i.imgur.com/QrGMsYN.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="http://i.imgur.com/QrGMsYN.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-4">
          <img src="http://i.imgur.com/QrGMsYN.jpg" alt="" class="img-responsive">
        </div>

      </div>
      <a href="#haut" class="slide-section2"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    </div>
  </div>