<div class="jumbotron-7" id="haut">
<div class="container">
      <h2>Thanks</h2>
      <p>We'll be in touch</p>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>



</div>
</div>

