.jumbotron-6
{
  background:url(http://i.imgur.com/fJr2Bvn.jpg)no-repeat center center;
  background-size:cover;
  opacity:0.8;
  height:680px;
  text-align:center;

    h2 {
    color:white;
    font-size: 45px;
    margin-top: 50px;
    }

    p {
    color:white;
    font-size:25px;

    }
    form {
    margin-top:50px;
    font-size:25px;
    }

  input:focus {
    border-color:#850001;
    outline: none !important;
  }

    label {
    color:white;
      

    }

    .btn-submit {
    margin-top:20px;
    background-color:#850001;
    color:white;
    border-color:#850001;
    }

    .btn-submit:hover {
    opacity:0.7
    }

  .btn-primary {
    margin-top:50px;
    background-color:white;
    color:#850001;
    font-size:25px;
    opacity:0.7;
  }
  .btn-primary:hover {
    opacity:1;
  }
}

@media screen and (max-width: 500px) {


  .jumbotron-6 {
     height:600px;

  h2 {
    font-size: 30px;
  }
}
}
// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
